<?xml version="1.0" standalone="no"?>
<!DOCTYPE service-group SYSTEM "avahi-service.dtd">
<service-group>
  <name replace-wildcards="yes">Stearlight on %h</name>
  <service>
    <type>_stearlight._tcp</type><port>9945</port>
    <txt-record>version=2</txt-record><txt-record>video=udp:9944</txt-record>
    <txt-record>tracking=udp:9947</txt-record><txt-record>audio=udp:9946</txt-record>
    <txt-record>codec=hevc</txt-record><txt-record>resolution=2880x1600</txt-record>
    <txt-record>fec=rs:10+2</txt-record>
  </service>
  <service><type>_stearlight-video._udp</type><port>9944</port></service>
  <service><type>_stearlight-tracking._udp</type><port>9947</port></service>
  <service><type>_stearlight-audio._udp</type><port>9946</port></service>
</service-group>
